.header {
  .navigation {
    display: flex;
    width:100%;

    > * {

      flex: 1;
      text-align: center;
      padding: 10px 15px;
      border: 1px solid #eaeaea;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
      transition: .5s ease;

      &:hover {
        background: #f7f7f7;
      }

      &:first-child {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

    }


  }
}