body {

  margin: 0;
  padding: 0;

  .container {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
    min-width: 400px;
    width: 40%;
    max-width: 1100px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
    font-family: sans-serif;
    margin: 0 auto;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }
}

