
.release {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 15px 0;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: .2s ease;

  &:hover {
    background: #f7f7f7;
  }

  .favorite {
    padding: 15px 20px;
    width: 100px;
    text-align: center;
  }

  .info {
    .title {
      font-size: 16px;
    }

    .artist {
      font-size: 13px;
      color: #a8a8a8;
      margin-top: 4px;
    }
  }

  .meta {
    margin-top: 8px;
    font-size: 12px;
    color: #a7a7a7;
    display: flex;
    align-items: center;

    > * {
      display: flex;
      align-items: center;

      &:after {
        content: "";
        width: 5px;
        border-radius: 50%;
        background: #dddddd;
        height: 5px;
        margin: 0 5px;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

    }
  }
}

