.bar {
  margin: 10px 0;
  width: 100%;

  input {

    height: 40px;
    padding: 0 15px;
    transition: .2s ease;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #eaeaea;

  }


}
